
.game {
    margin-top: 25px;
    height: 50vh;
    width: auto;

    display: flex;
    flex-direction: column-reverse;

    border: 1px solid black;
}

.player {
    position: relative;
    top: 0px;
    left: 0px;

    height: 100px;
    width: 100px;

    background-color: red;
}
